body {
    font-family: 'Arial', sans-serif;
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header, nav, section, footer {
    background-color: #4e55b4;
    color: #fff;
    margin: 10;
}

/* Add this style to your existing CSS file */

#images {
    background-color: #f0f0f0;
    padding: 40px 0;
    text-align: center;
}

#images img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}


header h1, nav ul, section h2, footer p {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 40px 0;
}

footer {
    text-align: center;
    padding: 20px 0;
}
